$soft-purple : #5E6282;
$dark-purple : #14183E;

.topSelling{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: $soft-purple;
}
.topSelling_headline{
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;
    color: $dark-purple;
}