.ml-2{
    margin-left: 1.5rem;
}

.right-section{
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
    .title{
        font-weight: 700;
        font-size: 18px;
    }
    .desc{
        font-weight: 500;
        font-size: 16px;
        max-width: 400px;
        line-height: 1.3;
    }
}